body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        background: navy;
        border-radius: 10px;
        font-size: x-large;
        color: white;
        padding: 0.5rem 3rem 0.5rem 1rem;
        margin-block-end: 0.25rem;
        view-transition-name: match-element;
        position: relative;
        button {
            position: absolute;
            border-radius: 0 20px 20px 0;
            top: 0;
            right: 0;
            height: 100%;
            width: 30px;
            border: 0;
            background: navy;
            display: grid;
            place-items: center;
            &[hidden] {
                display: none;
            }
            &:disabled {
                .fa-solid,
                & {
                    opacity: 0.5;
                }
            }
            .fa-solid {
                background: none;
                font-size: x-large;
                color: white;
                width: 20px !important;
                view-transition-name: match-element;
            }
            .fa-solid:hover {
                color: aqua;
            }
        }
    }
}
::view-transition-group(*) {
    animation-duration: 2s;
}
::view-transition-old(woosh),
::view-transition-new(woosh) {
    animation: woosh 1s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
}

@keyframes woosh {
    50% {
        translate: -100px -200px;
        scale: 1.5;
        box-shadow: 30px 30px 30px lch(0% 0 0 / 60%);
    }
}
::view-transition-old(tony-hawk),
::view-transition-new(tony-hawk) {
    animation: tony-hawk 1s ease-in-out;
}
@keyframes tony-hawk {

    0% {
        rotate: 0deg;
        scale: 1;
    }

    50% {
        translate: -100px -200px;
        rotate: 360deg;
        scale: 2.5;
    }

    100% {
        rotate: 720deg;
        scale: 1;
    }

}
